body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
    padding: 0;
    height: 90vh;
  color: #384047;
  background-image: url('https://i.pinimg.com/originals/5a/e2/37/5ae237e04d65fb9edede5d8abf1d2e69.jpg');
    background-repeat: no-repeat; /* Prevents image repetition */
    background-size: cover; /* Adjusts the image size to cover the element */
    background-position: center; /* Centers the image */
}